body {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

table {
    width: 40%;
    margin: 20px auto;
    border-collapse: collapse;
}

table.dashboard {
    table-layout: fixed;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.dashboard .header .title {
    font-size: 1.5rem;
}

.title,
.subtitle {
    text-align: left;
    color: #fff;
    background-color: #0c3c6d;
    padding: 15px 20px;
}

.dashboard tbody td {
    color: #fff;
    background-color: #69677dc0;
    border-radius: 20px;
    padding: 10px;
}

td.date {
    text-align: right;
}

td.category {
    width: 15%;
}

td.bar-cell {
    width: 75%;
    padding: 0 10px;
}

td.sales {
    width: 10%;
    text-align: right;
}

.bar-container {
    width: 100%;
    height: 12px;
    background-color: #eee;
    border-radius: 6px;
}

.bar {
    height: 100%;
    background-color: #333;
    border-radius: 6px;
}
